* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", serif;
}

body {
    display: block;
    background-color: #6f1384;
    min-height: 100vh; /* Asegura que la altura mínima del body sea 100vh */
    position: relative; /* Necesario para posicionar el pseudo-elemento */
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(imgs/Patron.webp);
    background-attachment: fixed; /* El fondo se mantiene fijo durante el scroll */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    opacity: 0.8; /* Ajusta la opacidad */
    z-index: -1; /* Para que quede detrás del contenido */
   }

   .titulo {
    display: grid;
    background-image: url(imgs/Portada.webp);
    color: white;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}

.carrito {
    display: grid;
    background-color: #6f138492;
    color: white;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.carrito button {
    border-radius: 20px;
    border: 2px solid black;
    background: #6f1384;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
}

.carrito-popup{
    display: none; /* Ocultamos el pop-up inicialmente */
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.producto {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 250px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-bottom: 0;
    margin-top: 10px;
}

.producto:hover {
    transform: scale(1.08);
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.producto h2 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.producto .precio {
    font-size: 20px;
    font-weight: bold;
    color: #3ac310;
    margin: 10px 0;
}

.popup{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Oculto inicialmente */
    justify-content: center;
    align-items: center;
}

.contenido_popup{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.contenido_popup p {
    text-align: left;
    font-size: 0.8rem;
}

.contenido_popup img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.añadir {
    margin-top: 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #2daa07;
    cursor: pointer;
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    padding: 15px;
    background-color: rgb(219, 36, 36);
    color: white;
    border-color: white;
}